body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1050px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4781_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4781 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:23px;
  width:193px;
  height:33px;
}
#u4782 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u4783_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4783 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:117px;
  width:49px;
  height:20px;
}
#u4784 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u4785_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#666666;
  line-height:28px;
}
#u4785 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:152px;
  width:400px;
  height:84px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#666666;
  line-height:28px;
}
#u4786 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  word-wrap:break-word;
}
#u4787_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4787 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:280px;
  width:97px;
  height:20px;
}
#u4788 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u4789_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:134px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-style:normal;
  color:#666666;
  line-height:28px;
}
#u4789 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:316px;
  width:400px;
  height:134px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-style:normal;
  color:#666666;
  line-height:28px;
}
#u4790 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  word-wrap:break-word;
}
#u4791_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:1053px;
  height:5px;
}
#u4791 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:1050px;
  height:2px;
}
#u4792 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-7px;
  width:1046px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4793_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:264px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-style:normal;
  color:#666666;
  line-height:28px;
}
#u4793 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:750px;
  width:400px;
  height:264px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-style:normal;
  color:#666666;
  line-height:28px;
}
#u4794 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  word-wrap:break-word;
}
#u4795_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:124px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-style:normal;
  color:#666666;
  line-height:28px;
}
#u4795 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:456px;
  width:400px;
  height:124px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-style:normal;
  color:#666666;
  line-height:28px;
}
#u4796 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  word-wrap:break-word;
}
#u4797_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:124px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-style:normal;
  color:#666666;
  line-height:28px;
}
#u4797 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:616px;
  width:400px;
  height:124px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-style:normal;
  color:#666666;
  line-height:28px;
}
#u4798 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  word-wrap:break-word;
}
#u4799_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:729px;
  height:257px;
}
#u4799 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:1014px;
  width:729px;
  height:257px;
}
#u4800 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:120px;
  width:725px;
  visibility:hidden;
  word-wrap:break-word;
}
