body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1077px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7160_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u7160 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:40px;
  width:85px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u7161 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u7162_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:951px;
  height:2px;
}
#u7162 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:95px;
  width:950px;
  height:1px;
}
#u7163 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:946px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7164_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#5E5E5E;
  line-height:28px;
}
#u7164 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:388px;
  width:88px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#5E5E5E;
  line-height:28px;
}
#u7165 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u7166_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:577px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#5E5E5E;
  line-height:28px;
}
#u7166 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:124px;
  width:577px;
  height:112px;
  color:#5E5E5E;
  line-height:28px;
}
#u7167 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:577px;
  white-space:nowrap;
}
#u7168_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:830px;
  height:196px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:28px;
}
#u7168 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:1294px;
  width:830px;
  height:196px;
  line-height:28px;
}
#u7169 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:830px;
  white-space:nowrap;
}
#u7170_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:869px;
  height:196px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:28px;
}
#u7170 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:1077px;
  width:869px;
  height:196px;
  line-height:28px;
}
#u7171 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:869px;
  white-space:nowrap;
}
#u7172_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1012px;
  height:196px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:28px;
}
#u7172 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:860px;
  width:1012px;
  height:196px;
  line-height:28px;
}
#u7173 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1012px;
  white-space:nowrap;
}
#u7174_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:856px;
  height:196px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:28px;
}
#u7174 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:643px;
  width:856px;
  height:196px;
  line-height:28px;
}
#u7175 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:856px;
  white-space:nowrap;
}
#u7176_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:856px;
  height:196px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:28px;
}
#u7176 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:426px;
  width:856px;
  height:196px;
  line-height:28px;
}
#u7177 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:856px;
  white-space:nowrap;
}
#u7178_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#5E5E5E;
  line-height:28px;
}
#u7178 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:262px;
  width:395px;
  height:112px;
  color:#5E5E5E;
  line-height:28px;
}
#u7179 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  white-space:nowrap;
}
#u7180_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:923px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  line-height:28px;
}
#u7180 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:1553px;
  width:923px;
  height:84px;
  font-size:14px;
  line-height:28px;
}
#u7181 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:923px;
  white-space:nowrap;
}
#u7182_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u7182 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:1800px;
  width:100px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u7183 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u7184_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u7184 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:1800px;
  width:100px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u7185 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u7186_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u7186 {
  border-width:0px;
  position:absolute;
  left:436px;
  top:1892px;
  width:100px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u7187 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u7188 {
  border-width:0px;
  position:absolute;
  left:275px;
  top:1860px;
  width:0px;
  height:0px;
}
#u7188_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:66px;
}
#u7188_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:58px;
  width:165px;
  height:8px;
}
#u7188_seg2 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:53px;
  width:19px;
  height:18px;
}
#u7189 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:53px;
  width:100px;
  word-wrap:break-word;
}
#u7190 {
  border-width:0px;
  position:absolute;
  left:275px;
  top:1800px;
  width:0px;
  height:0px;
}
#u7190_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-64px;
  width:8px;
  height:64px;
}
#u7190_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-64px;
  width:165px;
  height:8px;
}
#u7190_seg2 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:-69px;
  width:19px;
  height:18px;
}
#u7191 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-69px;
  width:100px;
  word-wrap:break-word;
}
#u7192 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:1830px;
  width:0px;
  height:0px;
}
#u7192_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:79px;
  height:8px;
}
#u7192_seg1 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:-9px;
  width:19px;
  height:18px;
}
#u7193 {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7194_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u7194 {
  border-width:0px;
  position:absolute;
  left:436px;
  top:1710px;
  width:100px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u7195 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u7196_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u7196 {
  border-width:0px;
  position:absolute;
  left:646px;
  top:1755px;
  width:100px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u7197 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u7198 {
  border-width:0px;
  position:absolute;
  left:486px;
  top:1770px;
  width:0px;
  height:0px;
}
#u7198_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:19px;
}
#u7198_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:11px;
  width:164px;
  height:8px;
}
#u7198_seg2 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:6px;
  width:19px;
  height:18px;
}
#u7199 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:6px;
  width:100px;
  word-wrap:break-word;
}
#u7200_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u7200 {
  border-width:0px;
  position:absolute;
  left:646px;
  top:1665px;
  width:100px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u7201 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u7202 {
  border-width:0px;
  position:absolute;
  left:486px;
  top:1710px;
  width:0px;
  height:0px;
}
#u7202_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-19px;
  width:8px;
  height:19px;
}
#u7202_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-19px;
  width:164px;
  height:8px;
}
#u7202_seg2 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:-24px;
  width:19px;
  height:18px;
}
#u7203 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:-24px;
  width:100px;
  word-wrap:break-word;
}
#u7204_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u7204 {
  border-width:0px;
  position:absolute;
  left:646px;
  top:1844px;
  width:100px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u7205 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u7206_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u7206 {
  border-width:0px;
  position:absolute;
  left:646px;
  top:1940px;
  width:100px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u7207 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u7208 {
  border-width:0px;
  position:absolute;
  left:486px;
  top:1952px;
  width:0px;
  height:0px;
}
#u7208_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:22px;
}
#u7208_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:14px;
  width:164px;
  height:8px;
}
#u7208_seg2 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:9px;
  width:19px;
  height:18px;
}
#u7209 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:9px;
  width:100px;
  word-wrap:break-word;
}
#u7210 {
  border-width:0px;
  position:absolute;
  left:486px;
  top:1892px;
  width:0px;
  height:0px;
}
#u7210_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-22px;
  width:8px;
  height:22px;
}
#u7210_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-22px;
  width:164px;
  height:8px;
}
#u7210_seg2 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:-27px;
  width:19px;
  height:18px;
}
#u7211 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:-27px;
  width:100px;
  word-wrap:break-word;
}
#u7212 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3669px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7213_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:2px;
}
#u7213 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:796px;
  width:120px;
  height:1px;
}
#u7214 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7215_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:2px;
}
#u7215 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:303px;
  width:76px;
  height:1px;
}
#u7216 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7217_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:2px;
}
#u7217 {
  border-width:0px;
  position:absolute;
  left:309px;
  top:1231px;
  width:89px;
  height:1px;
}
#u7218 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7219_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:1042px;
  height:215px;
}
#u7219 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:849px;
  width:1039px;
  height:212px;
  font-size:48px;
  color:#FF0000;
}
#u7220 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:96px;
  width:1035px;
  word-wrap:break-word;
  text-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-text-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -moz-text-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u7221_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#5E5E5E;
  line-height:28px;
}
#u7221 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:2094px;
  width:318px;
  height:112px;
  font-size:14px;
  color:#5E5E5E;
  line-height:28px;
}
#u7222 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  white-space:nowrap;
}
#u7223_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:308px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:28px;
}
#u7223 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:3361px;
  width:600px;
  height:308px;
  line-height:28px;
}
#u7224 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  white-space:nowrap;
}
#u7225_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:364px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:28px;
}
#u7225 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:2230px;
  width:590px;
  height:364px;
  line-height:28px;
}
#u7226 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  word-wrap:break-word;
}
#u7227_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:336px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:28px;
}
#u7227 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:2626px;
  width:590px;
  height:336px;
  line-height:28px;
}
#u7228 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  word-wrap:break-word;
}
#u7229_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:336px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:28px;
}
#u7229 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:2993px;
  width:590px;
  height:336px;
  line-height:28px;
}
#u7230 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  word-wrap:break-word;
}
