body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1210px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1477_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1187px;
  height:476px;
}
#u1477 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:23px;
  width:1187px;
  height:476px;
}
#u1478 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:230px;
  width:1183px;
  visibility:hidden;
  word-wrap:break-word;
}
