body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u11958 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11959_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:530px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(153, 153, 153, 0.349019607843137);
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u11959 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:90px;
  width:810px;
  height:530px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u11960 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:257px;
  width:806px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11961_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:30px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11961 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:90px;
  width:810px;
  height:30px;
}
#u11962 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:806px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11963_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u11963 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:94px;
  width:21px;
  height:21px;
}
#u11964 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11965_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u11965 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:94px;
  width:21px;
  height:21px;
}
#u11966 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11967_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u11967 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:94px;
  width:21px;
  height:21px;
}
#u11968 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11969_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#BCBCBC;
  text-align:left;
}
#u11969 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:94px;
  width:680px;
  height:20px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#BCBCBC;
  text-align:left;
}
#u11970 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:0px;
  width:668px;
  word-wrap:break-word;
}
#u11971_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:431px;
}
#u11971 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:143px;
  width:810px;
  height:431px;
}
#u11972 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:208px;
  width:806px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11973_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:213px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:28px;
  color:#BCBCBC;
}
#u11973 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:246px;
  width:374px;
  height:213px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:28px;
  color:#BCBCBC;
}
#u11974 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:96px;
  width:370px;
  word-wrap:break-word;
}
#u11975 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11976_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u11976 {
  border-width:0px;
  position:absolute;
  left:524px;
  top:204px;
  width:350px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u11977 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:350px;
  word-wrap:break-word;
  text-shadow:0px 0px 5px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:0px 0px 5px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:0px 0px 5px rgba(0, 0, 0, 0.647058823529412);
}
#u11978_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:20px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.298039215686275);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#F2F2F2;
  text-align:center;
}
#u11978 {
  border-width:0px;
  position:absolute;
  left:544px;
  top:249px;
  width:310px;
  height:20px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#F2F2F2;
  text-align:center;
}
#u11979 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  word-wrap:break-word;
  text-shadow:0px 0px 5px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:0px 0px 5px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:0px 0px 5px rgba(0, 0, 0, 0.647058823529412);
}
#u11980_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:20px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.298039215686275);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#F2F2F2;
  text-align:center;
}
#u11980 {
  border-width:0px;
  position:absolute;
  left:544px;
  top:287px;
  width:310px;
  height:20px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#F2F2F2;
  text-align:center;
}
#u11981 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  word-wrap:break-word;
  text-shadow:0px 0px 5px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:0px 0px 5px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:0px 0px 5px rgba(0, 0, 0, 0.647058823529412);
}
#u11982_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u11982 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:494px;
  width:154px;
  height:26px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u11983 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:154px;
  word-wrap:break-word;
  text-shadow:0px 0px 5px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:0px 0px 5px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:0px 0px 5px rgba(0, 0, 0, 0.647058823529412);
}
#u11984 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11985_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.498039215686275);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#F2F2F2;
  text-align:center;
}
#u11985 {
  border-width:0px;
  position:absolute;
  left:706px;
  top:365px;
  width:148px;
  height:20px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#F2F2F2;
  text-align:center;
}
#u11986 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  word-wrap:break-word;
  text-shadow:0px 0px 5px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:0px 0px 5px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:0px 0px 5px rgba(0, 0, 0, 0.647058823529412);
}
#u11987_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.298039215686275);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#F2F2F2;
  text-align:center;
}
#u11987 {
  border-width:0px;
  position:absolute;
  left:544px;
  top:365px;
  width:148px;
  height:20px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#F2F2F2;
  text-align:center;
}
#u11988 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  word-wrap:break-word;
  text-shadow:0px 0px 5px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:0px 0px 5px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:0px 0px 5px rgba(0, 0, 0, 0.647058823529412);
}
#u11989_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u11989 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:320px;
  width:229px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u11990 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:229px;
  word-wrap:break-word;
  text-shadow:0px 0px 5px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:0px 0px 5px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:0px 0px 5px rgba(0, 0, 0, 0.647058823529412);
}
#u11991_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:31px;
  height:31px;
}
#u11991 {
  border-width:0px;
  position:absolute;
  left:823px;
  top:364px;
  width:21px;
  height:21px;
}
#u11992 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11993_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.0470588235294118);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#BCBCBC;
  text-align:center;
}
#u11993 {
  border-width:0px;
  position:absolute;
  left:544px;
  top:422px;
  width:310px;
  height:40px;
  color:#BCBCBC;
  text-align:center;
}
#u11994 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:310px;
  word-wrap:break-word;
  text-shadow:0px 0px 5px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:0px 0px 5px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:0px 0px 5px rgba(0, 0, 0, 0.647058823529412);
}
#u11995 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:498px;
  width:104px;
  height:22px;
  font-size:16px;
  color:#FF0000;
}
#u11996 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u11995_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u11997_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:46px;
}
#u11997 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:574px;
  width:810px;
  height:46px;
}
#u11998 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:806px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11999_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:23px;
}
#u11999 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:120px;
  width:810px;
  height:23px;
}
#u12000 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:806px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12001_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u12001 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:700px;
  width:360px;
  height:640px;
}
#u12002 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12003 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:700px;
  width:360px;
  height:640px;
  overflow:hidden;
}
#u12003_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u12003_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12004_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:660px;
}
#u12004 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:660px;
}
#u12005 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:322px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12006_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:243px;
}
#u12006 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:1097px;
  width:360px;
  height:243px;
}
#u12007 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:114px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12008_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:2px;
}
#u12008 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:749px;
  width:240px;
  height:1px;
}
#u12009 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12010_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F2F2F2;
}
#u12010 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:716px;
  width:173px;
  height:20px;
  color:#F2F2F2;
}
#u12011 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  white-space:nowrap;
  text-shadow:0px 0px 5px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:0px 0px 5px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:0px 0px 5px rgba(0, 0, 0, 0.647058823529412);
}
#u12012_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:90px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
}
#u12012 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:1038px;
  width:200px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
}
#u12013 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:196px;
  word-wrap:break-word;
}
#u12014_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:38px;
  height:38px;
}
#u12014 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:716px;
  width:28px;
  height:28px;
}
#u12015 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12016_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:38px;
  height:38px;
}
#u12016 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:716px;
  width:28px;
  height:28px;
}
#u12017 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12018 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:1010px;
  width:104px;
  height:22px;
  font-size:16px;
  color:#FF0000;
}
#u12019 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u12018_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
