body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1794_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u1794 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:40px;
  width:197px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u1795 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u1796_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:951px;
  height:2px;
}
#u1796 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:95px;
  width:950px;
  height:1px;
}
#u1797 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:946px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1798_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:667px;
  height:168px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:28px;
}
#u1798 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:126px;
  width:667px;
  height:168px;
  line-height:28px;
}
#u1799 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:667px;
  white-space:nowrap;
}
